body {
    background-color: rgb(75, 112, 6);
}
.side-bar {
    position: fixed;
    right: -0.9rem;
    top: 0;
}
#escrita-logo {
    position: fixed;
    width: 38rem;
    top: 5rem;
    left: 34%;
}
#seta-logo {
    position: fixed;
    width: 3rem;
    top: 2rem;
    left: 62%;
}