body {
    background-color: rgb(98, 139, 22);
    background-image: url("side-bar-verde.png"), url("side-bar-verde.png");
    background-position: top 0;
    background-repeat: no-repeat;
    background-position: left top, right top;
    font-family: 'Orbitron', Arial, sans-serif;
}
.container-logo {
    display: flex;
    justify-content: center;
}
.logo {
    width: 57%;
    margin-top: -2%;
}
.botoes-meio {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.botao {
    background-color: rgb(36, 80, 0);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    width: 21.5%;
    border: 0.3rem solid black;
    font-family: 'Orbitron', Arial, sans-serif;
}
.botao:hover {
    border: 0.3rem solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}