body {
    background-color: rgb(98, 139, 22);
    background-image: url("side-bar-verde.png"), url("side-bar-verde.png");
    background-attachment: fixed;
    background-position: top 0;
    background-repeat: no-repeat;
    background-position: left top, right top;
    font-family: 'Orbitron', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-logo {
    display: flex;
    justify-content: center;
}
.logo {
    width: 80%; /* em casa: 66*/ /* escola: 80%*/ 
    margin-top: -2%;
}
#botao-logo {
    background: none;
    padding: 0;
    border: 0.3rem solid transparent;
    cursor: pointer;
    border-radius: 6%;
    transition: border 0.30s;
}
#botao-logo:hover {
    border: 0.3rem solid rgb(0, 0, 0);
}
.botoes-meio {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}
.botao {
    background-color: rgb(36, 80, 0);
    color: rgb(255, 255, 255);
    font-size: 2rem; /* em casa: 1.6*/ /* escola: 2rem*/ 
    width: 22.3%; /* em casa: 21.5*/ /* escola: 22.3%*/
    border: 0.3rem solid black;
    font-family: 'Orbitron', Arial, sans-serif;
    transition: border 0.25s, color 0.25s;
}
.botao:hover {
    border: 0.3rem solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}
.conteudo{
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 7.1%;
    margin-left: 7.1%;
    color: white;
}
.conteudo-inicial {
    color: #000000;
}
.oq {
    text-align: center;
    font-size: 2.5rem;
}
.define {
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
    font-size: 1.5rem;
} 
.accordion-botao {
    font-family: 'Orbitron', Arial, sans-serif;
    color: white;
    cursor: pointer;
    padding: 7px 15px;
    border: 3px solid #000000;
    font-size: 1.7rem;
    transition: background-color 0.30s;
    width: 100%;
    margin-top: 0.3rem;
    border-width: 0.35rem;
}
.botao-accordion-software { background-color: #0024b3; }
.botao-accordion-hardware { 
    background-color: rgb(238, 136, 204); 
    color: black;
}
.botao-accordion-malware {
    background-color: rgb(255, 0, 51);
    color: black;
}
.botao-accordion-software:hover {
    background-color: white;
    color: #0024b3;
}
.botao-accordion-hardware:hover {
    background-color: black;
    color: rgb(241 119 200);
    border-color: rgb(241 119 200);
}
.botao-accordion-malware:hover {
    background-color: black;
    color: rgb(255, 0, 51);
    border-color: rgb(255, 0, 51);
}

.conteudo-principal{
    flex-grow: 2;
    /* position: relative;
    height: 100%;
    bottom: 0; */
}

 .accordion-conteudo { 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 20px;
    font-size: 1.4rem;
}
.conteudo-accordion-software { background-color: #377ade; }
.conteudo-accordion-hardware { background-color: #ffbcf6; }
.conteudo-accordion-malware { background-color: rgb(204, 0, 0); }
.accordion-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}
.accordion-text {
    font-size: 1.2rem;
}
.software-texto {
    font-size: 1.4rem;
}
.accordion-img {
    margin-left: 0;
    margin-top: 0.5rem;
    align-self: center;
    width: 25rem;
    height: 20rem;
}
#so-img { width: 21rem; height: 11rem; }
#navegadores-img { width: 22rem; height: 14rem; }
#aplicacoes-img { width: 20rem; height: 13rem; }
#banco-img { width: 22rem; height: 14rem; }
#github-img { width: 23rem; height: 14rem; }
#iot-img { width: 22rem; height: 14rem; }
#ia-img { width: 14rem; height: 14rem; }
#linguagens-img { width: 22rem; height: 14rem; }
#inicial-define, #inicial-define-dois { font-size: 1.9rem; }
.lista-software {
    font-size: 1.5rem;
}
.espaco-lista {
    margin-top: 1%;
}
.conteudo-hardware { color: #000000; }
#oq-hardware { font-size: 2.7rem; }
#hardware-define { font-size: 1.8rem; }
.introd-malware { 
    padding-left: 1%;
    padding-right: 1%;
}
.lista-mal {
    font-size: 1.5rem;
}
#creditos-texto {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1%;
    color: rgb(233, 233, 233);
}
.nomes {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: -1rem;
}
.biografias {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
}
.footer {
    font-size: 0.5rem;
    position: static;
    background-color: #2e6700;
    margin-left: 6rem;
    margin-right: 6rem; 
    margin-bottom: 0;
    text-align: center;
}
